<div class="container">
    <h2>Tutorial instalación extensión Series2gether Chat</h2>
    </br>
    <h3>Descargar extensión</h3>
    <p>Primero debes descargar la extensión desde el siguiente <a target="_blank" href="https://drive.google.com/file/d/1qs40G-W9JaIFLDLWVStIpLkJys_c9KUB/view?usp=share_link">enlace</a></p>
    <h3>Requisitos</h3>
    <p>Navegador: Chrome</p>
    </br>
    <h3>Pasos para una instalación correcta</h3>
    <ul>
        <li>Una vez descargado, descomprimir el archivo en el directorio deseado</li>
        <img src="/images/extension1.jpg"/>
        <li>Ingresar la siguiente dirección en la barra de direcciones del navegador Chrome: chrome://extensions</li>
        <li>Habilitar la opción "Modo de desarrollador" en la esquina superior derecha</li>
        <img src="/images/extension2.jpg"/>
        <li>Se habilitarán los siguientes botones:</li>
        <img src="/images/extension3.jpg"/>
        <li>Hacer click en "Cargar extensión sin empaquetar"</li>
        <li>Seleccionar la carpeta donde se encuentra la extensión previamente extraida</li>
        <li>La extensión ha sido cargada correctamente</li>
        <li>Por último para visualizarla, sigue los siguientes pasos:</li>
        <img src="/images/extension4.jpg"/>
    </ul>
    </br>
</div>