<div class="container">
    <div style="text-align: center"><h3>¡La actualización 1.1 ha llegado!</h3>
    <div style="display: flex;justify-content: center;"><img height="281" width="500" src="https://drive.google.com/uc?export=view&id=1oxqFgzc3AVJU_hi6d59Rwruum5ZoYyJg"></div>
    <h3>Rediseño de nuestro reproductor de videos</h3>
    Se ha rediseñado el reproductor de videos como se ve a continuación:<br><br>
    <div style="display: flex;gap: 40px;justify-content: center;">
    <img src="https://drive.google.com/uc?export=view&id=1jCKz-3RWqE2LF4cdwlYOm5VBWDGK0bTZ">
    <img src="https://drive.google.com/uc?export=view&id=1IoW0e4-92Kov42A6Ev5O09h3u67s4G-f"><br>
    </div>
    <h3>¡También hemos agregado nuevas funcionalidades!</h3><br>
    <div style="display: flex;justify-content: center;"><img src="https://drive.google.com/uc?export=view&id=1Vw-NOyCiycSO6WOG_SKPPc-b7iz0V_-e"></div>
    <br>Manejo de volumen interactivo<br>
    <div style="display: flex;justify-content: center;"><img src="https://drive.google.com/uc?export=view&id=1x-FtSkyMnmUdGknOOtJDO89J0uxq2Vkt"></div>
    <br>Previsualización de escenas en barra de progreso!<br>
    <div style="display: flex;justify-content: center;"><img src="https://drive.google.com/uc?export=view&id=1sDJpJpTbvaNSReA_lb-sMR-1plHNEtId"></div>
    <br>Ahora puedes retroceder o avanzar cada 10 segundos<br>
    <div style="display: flex;justify-content: center;"><img src="https://drive.google.com/uc?export=view&id=1AO2Sp0TJ4hrPKjgRp4G3Q983Vy8hHcUJ"></div>
    <br>Por favor, dirigete a nuestro <a href="/watchRoom">WATCHROOM</a> para probar estas nuevas funciones!<br>
    <br>Esperamos que disfrutes de estas nuevas actualizaciones,<br>
    Estamos trabajando continuamente para mejorar tu experiencia en nuestro sitio!
    </div>
</div>
<style>
    h3 {
        margin: 20px;
    }
</style>
