<div class="embed-responsive embed-responsive-16by9">
    <video id="video_player_html5_api" src="https://di151ki.dood.video/u5kj3ozmwxg3sdgge7luspa6dvplka47wr45ecxeif46wlmb4dt55ji2xnnq/w0o3boigjv~ckx2O2Stt4?token=60s9lcnl3rvwp1pho0rbshgo&amp;expiry=1673550202392" controls> </video>
    <video src="{{videoURL}}"></video>
</div>