<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="/images/logo.png" alt="logo series2gether" width="50" height="50"/>
    <a class="navbar-brand" href="#">Series2gether</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/">Home</a>
        </li>
        
        
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {{#if user}}
      <ul class="navbar-nav mb-2 mb-lg-0">
        {{#if isAdmin}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Panel Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/links/add">Add</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/links/shutdownServer">Shutdown server</a></li>
          </ul>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/logout">Logout</a>
        </li>
      </ul>
      {{else}}
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/register">Register</a>
        </li>
      </ul>
      {{/if}}
    </div>
  </div>
</nav>

