<div class="container p4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h3>An email was sent</h3>
                    A verification link was sent to your e-mail address! Please check your inbox or spam to activate your account!.
                </div>
            </div>
        </div>
    </div>
</div>