<div class="container p-4">
    <div class="row">
        {{#each series}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="m-2">{{name}}</p>
                         {{!--<iframe width="420" height="315"
                        src="https://www.youtube.com/embed/m7ccdln9MOI?autoplay=1">
                        </iframe>--}}
                        <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2022/05/nuevo-poster-stranger-things-4-2700745.jpg?itok=JN3xb-GU" alt="" height="420" width="260"> 
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>